body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 50%;
    height: 50%;
}
.card-body{
    height: 100%;
}
.card-footer{
    height:20% ;
}

@media (max-width:600px) {
   .card {
        width:400px;
    }
    span{
        font-size: 2rem;
    }
}

span{
    font-size: 2em;
} 
input[type="text"]{
    font-size: 70px;
    text-align: center;
    background-color: black;
    color: white;
    width: 33%;
    height: 100%;
}